.header-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.nav{
    background-color: #fff;
    font-size: .875rem;
}

.nav-tabs .nav-link.active {
    background-color: #f8f9fa;
    border-bottom-color: #f8f9fa;
    transform: translateY(1px);
}

.tab-content{
    padding-top: 4rem;
}

.btn{
    width: 100%;
    margin-right: auto;
    margin-bottom: .70rem;
}

@media(min-width: 576px){
    .btn{
        width: auto;
        margin-right: .25rem;
        margin-left: .25rem;
    }
    
}

.footer-toast-danger {
    position: absolute;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    bottom: 0;
    right: 0;
    
    /* box-shadow: .15px 10px 15px RGBA(245,194,199,1) */
    
    
}

.breadcrumb-item{
    font-size: .875rem;
}

.btn-group {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn-group-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-group-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
  }